on:
  push:
    tags:
      - "v*"

name: Publish

concurrency:
  group: "publish"

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - run: cargo test --release --workspace --features metrics --features num-traits --features tokio-rayon
      - run: cargo clippy --workspace --features metrics --features num-traits --features tokio-rayon -- -Dwarnings
      - run: cargo publish --workspace
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
