name: Pull Request

on:
  pull_request:
    branches:
      - "main"
env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ "ubuntu-latest", "windows-latest", "macos-latest" ]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install nightly
        uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: nightly-2025-11-21
          components: "rustfmt, miri"
      - name: Override default toolchain
        run: rustup override set ${{steps.toolchain.outputs.name}}
      - run: cargo --version
      - name: Install NASM
        if: ${{ matrix.os == 'windows-latest' }}
        uses: ilammy/setup-nasm@v1
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Run tests
        run: cargo test --workspace --verbose --all-features --no-fail-fast
      - name: Run miri test
        env:
          RUSTFLAGS: "-C target-cpu=native"
          MIRIFLAGS: "-Zmiri-disable-isolation"
        run: cargo miri t -p cryprot-codes -p cryprot-core 
  lint:
    name: Lint
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install nightly
        uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: nightly-2025-11-21
          components: "clippy, rustfmt"
      - name: Override default toolchain
        run: rustup override set ${{steps.toolchain.outputs.name}}
      - run: cargo --version
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Check formatting
        run: cargo fmt --all --check
      - name: Check Clippy
        run: cargo clippy --workspace --all-features --examples --lib -- -D warnings


  docs:
    name: Docs
    runs-on: "ubuntu-latest"
    env:
      # deny rustdoc warnings
      RUSTDOCFLAGS: -D warnings
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install nightly
        uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: nightly-2025-11-21
          components: rust-docs
      - name: Override default toolchain
        run: rustup override set ${{steps.toolchain.outputs.name}}
      - run: cargo --version
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Check docs
        run: cargo doc --workspace --verbose --all-features --no-deps -Zunstable-options -Zrustdoc-scrape-examples
