name: CI

on: [ "push" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-C target-feature=+pclmulqdq,+avx2,+aes"

jobs:
  Test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          submodules: recursive
          fetch-depth: 0
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup

      - name: Test
        run: cargo test --workspace --verbose --all-features --no-fail-fast
