name: CI

on: [ "push" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-C target-feature=+pclmulqdq,+avx2,+aes"

jobs:
  Test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          submodules: recursive
          fetch-depth: 0
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup

      - name: Test
        run: cargo test --workspace --verbose --all-features --no-fail-fast
